/* Stylesheet by Sam Grosenick, 2017 */
#map {
    height: 920px;
    width: 99%;
    display: inline-block;
    z-index: 1;
    position: fixed;
}

.legend-control-container {
    width: 150px;
    height: 150px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.panel-wrapper {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 200px;
    width: 400px;
    z-index: 99;
}

.sequence-control-container {
    width: 350px;
    height: 60px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.range-slider {
    width: 200px;
}

#forward {
    float: right;
}

#reverse{
    float: left;
}

.resymbol:active, .active {
    background-color: blue;
}

#alter {
    top: auto;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}